@model IEnumerable<MyYouthFutures.Models.Services_Message>
@{
    ViewData["Title"] = "Home Page Demo";
}


<section class="container-fluid main-header">
    <div class="row">
        <div class="col-xs-12 header-box">
            <div class="row">
                <p class="header-text-greeting col-xs-12">Hi</p>
            </div>
            <div class="sub-text-box row">
                <p class="sub-text col-xs-12">14 WARM BEDS. YOUTH 12-17. YOUR TEMPORARY HOME <span class="quicksand-dark-38-lightgreen">:) </span></p>
            </div>
        </div>
    </div>
</section>
<section id="header" class="container-fluid">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-11">
            <p class="green-header">
                <span class="mont-semibold-dark-36 have-questions-heading">Have questions? Send us a text!</span>
                <span class="quicksand-dark-36-main"> (801) 528-1214</span>
            </p>
        </div>
    </div>
</section>

<section class="container-fluid services">
    <div class="row">
        <div class="col-xs-12">
            <h4 class="services-heading">Services</h4>
            <p class="mont-light-light-22 about-services">Our programming is divided into three main areas. Each program area has specific components to meet the needs of the youth in need.</p>
        </div>
    </div>
</section>

        @foreach (var item in Model)
        {

            <section>
                <div class="row">
                    <div class="boxes">
                        <article class="col-xs-3 panel">
                            <section class="panel-img-container">
                                <img src="@Html.DisplayFor(modelItem => item.MessageImage)" alt="House" class="panel-img" />
                            </section>
                            <section>
                                <p class="quicksand-light-32 panel-heading">@Html.DisplayFor(modelItem => item.MessageHeader)</p>
                            </section>
                            <section>
                                <p class="mont-light-light-18 panel-summary">Located in the heart of downtown Ogdece a. @Html.DisplayFor(modelItem => item.Message)</p>
                            </section>
                            <section class="panel-footer">
                                <p class="quicksand-light-24-green"><a href="#">Learn more ></a></p>
                            </section>
                        </article>
                    </div>
                </div>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </section>
        }



<article class="container-fluid purpose-box">
    <section class="row purpose col-xs-12">
        <div class="row purpose-title">
            <h2 class="h2-white">OUR</h2>
            <h2 class="h2-green">PURPOSE</h2>
        </div>
        <div class="row purpose-detail">
            <div class="col-xs-12 no-padding">
                <p class="montlight-dark-32">To provide unaccompanied, runaway and homeless youth with a safe and nurturing environment where they can develop the needed skills to become active, healthy, successful members of our future world.</p>
            </div>
        </div>
        <div class="row purpose-stats">
            <div class="col-xs-12">
                <p><span class="alt-color">7,085</span> MEALS SERVED. <span class="alt-color">511</span> DROP-IN SERVICES.</p>
                <p><span class="alt-color">245</span> STREET OUTREACH HOURS. <span class="alt-color">64</span> SHELTERED YOUTH.</p>
            </div>
        </div>
    </section>
    <div class="clear"></div>
    <section class="row sponsor-bar">
        <div class="col-xs-12 col-lg-3">
            <p class="partner-text">Our Partners</p>
        </div>
        <div class="col-xs-12 col-lg-3 ">
            <div class="partner-logo">
                <img src="~/images/mckaydee_hospital.png" alt="McKay Dee Hospital" class="mckay" />
            </div>
        </div>
        <div class="col-xs-12 col-lg-3">
            <div class="partner-logo">
                <img src="~/images/the_group_logo.png" alt="The Group Real Estate" class="thegroup" />
            </div>
        </div>
        <div class="col-xs-12 col-lg-3">
            <div class="partner-logo">
                <img src="~/images/giv_development.png" alt="GIV Development" class="giv" />
            </div>
        </div>
    </section>
    <section class="row purpose-user">
        <!--<div class="purpose-boxes">-->
        <div class="boxes">
            <article class="col-xs-3 panel">
                <section class="panel-img-container">
                    <img src="~/images/heart_hand.svg" alt="Volunteer" class="panel-img" />
                </section>
                <section>
                    <p class="panel-heading">Apply to Volunteer</p>
                </section>
                <section>
                    <p class="mont-light-light-22 panel-summary">Make your mark where it matters. Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse.</p>
                </section>
                <section class="panel-footer">
                    <p class="quicksand-light-24-green"><a href="#">Volunteer Now ></a></p>
                </section>
            </article>
            <article class="col-xs-3 panel">
                <section class="panel-img-container">
                    <img src="~/images/girl_icon.png" alt="Youth Stories" class="panel-img" />
                </section>
                <section>
                    <p class="panel-heading">Youth Stories</p>
                </section>
                <section>
                    <p class="mont-light-light-22 panel-summary">Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna.</p>
                </section>
                <section class="panel-footer">
                    <p class="quicksand-light-24-green"><a href="#">Read the Stories ></a></p>
                </section>
            </article>
            <article class="col-xs-3 panel">
                <section class="panel-img-container">
                    <img src="~/images/calendar_icon.png" alt="Events" class="panel-img" />
                </section>
                <section>
                    <p class="panel-heading">Events</p>
                </section>
                <section>
                    <p class="mont-light-light-22 panel-summary">Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna.</p>
                </section>
                <section class="panel-footer">
                    <p class="quicksand-light-24-green"><a href="#">View All Events ></a></p>
                </section>
            </article>
        </div>
    </section>
</article>

<footer class="container-fluid">
    <div class="row clear">
        <section class="col-xs-6 col-sm-4 col-md-2 footer-section">
            <p class="quicksand-dark-18-white">Contact</p>
            <p class="mont-light-dark-14-email">Email: info@yfut.org</p>
            <p class="mont-light-dark-14-email">
                Phone:
                <tel>801-528-1214</tel>
            </p>
        </section>
        <section class="col-xs-6 col-sm-4 col-md-2 footer-section">
            <p class="quicksand-dark-18-white">Mailing Address</p>
            <p class="mont-light-dark-14-email">Youth Futures<br /> POB 160301<br /> Clearfield, UT 84016</p>
        </section>
        <section class="col-xs-6 col-sm-4 col-md-2 footer-section">
            <p class="quicksand-dark-18-white">Shelter Address</p>
            <p class="mont-light-dark-14-email">Youth Futures<br /> 2760 S. Adams Ave<br /> Ogden, UT 84403</p>
        </section>
        <section class="col-xs-6 col-sm-4 col-md-2 footer-section">
            <img src="./resources/page_1.png" alt="Home Image" class="footer-home" />
        </section>
        <section class="col-xs-10 col-xs-offset-1
                            col-sm-6 col-md-4 col-sm-offset-0 footer-section">
            <div class="social-media">
                <a href="#"><img src="~/images/social_instagram.png" alt="Instagram" /></a>
                <a href="#"><img src="~/images/social_twitter.png" alt="Twitter" /></a>
                <a href="#"><img src="~/images/social_tumblr.png" alt="Tumbler" /></a>
                <a href="#"><img src="~/images/social_fb.png" alt="Facebook" /></a>
            </div>
        </section>
    </div>
    <div class="copyright">
        <p class="mont-regular-dark-16-grey">© Youth Futures, Inc.</p>
    </div>
</footer>
